//

@import 'variables';

.navbar-semi-dark{
    background-image: linear-gradient(to right, $theme-color 0%, $theme-color2 100%) !important;
    background-repeat: repeat-x;
    background: $theme-color;
    color: #fff;
}

.navbar-semi-dark .navbar-header{
    background: transparent !important;
}

.navbar-semi-dark .navbar-nav .nav-link{
    color: #fff;
}